obj_files/

# For premake
bin/
bin-int/
project-files/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/vendor/fltk-release-1.3.9/ide
/vendor/fltk-release-1.3.2

!/vendor/fltk-release-1.3.9/lib/*.lib
!data/**.obj
!data/bad/**.obj
!data/legacy/**.obj
!data/mixamo/**.obj
/PinocchioPlus/build
